body {
    font-family: 'Roboto', 'Raleway', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

a {
    text-decoration: none;
}

.title-h2 {
    color: #2E2F42;
    font-size: 36px;
    line-height: 1.111;
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

/* Header */

.logo {
    color: #2E2F42;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.166;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.logo-web {
    color: #4D5AE5;
}

.navigation-link a {
    color: #2E2F42;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

.navigation-link a:hover,
.navigation-link a:focus {
    color: #404BBF;
}

.address-link a {
    color: #434455;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

.address-link a:hover,
.address-link a:focus {
    color: #404BBF;
}


/* Hero image */

.title-h1 {
    color: #FFFFFF;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.071;
    letter-spacing: 1.12px;
}

.button-text {
    color: #FFFFFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
}

button {
    cursor: pointer;
    background: #4D5AE5;
}

button:hover,
button:focus {
    border-radius: 4px;
    background: #404BBF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

/* Our advantages */

.title-h2-none {
    display: none;
}

.advantages h3 {
    color: #2E2F42;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
}

.advantages p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

/* Our team */

.our-teem h3 {
    color: #2E2F42;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
}

.our-teem p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

/* Our Portfolio */

.our-portfolio h3 {
    color: #2E2F42;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
}

.our-portfolio p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

/* Footer */

.logo-footer {
    color: #F4F4FD;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.166;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.logo-footer-web {
    color: #4D5AE5;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.166;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.footer-text {
    color: #F4F4FD;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
}